services:
  client:
    build:
      context: ./client
    ports:
      - "3000:3000"
    env_file:
      - ./client/.env.local
    environment:
    - CHOKIDAR_USEPOLLING=true
    - WATCHPACK_POLLING=true
    - WATCHPACK_POLL_INTERVAL=1000
    
    command: npm run dev      
    depends_on:
      - server
    networks:
      - grow_network
    volumes:
      - ./client:/app
      - /app/node_modules
      - /app/.next 

  server:
    build:
      context: ./server
    ports:
      - "8000:8000"
    command: node index.js      # normal start
    depends_on:
      - model
    networks:
      - grow_network

  model:
    build:
      context: ./model
    ports:
      - "5000:5000"
    command: flask run --host=0.0.0.0 --port=5000
    networks:
      - grow_network

networks:
  grow_network:
    driver: bridge
